.profilepic{
    width: 30%;
    margin: 30px;

}
.profile{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.user{
    display: flex;
    justify-content: flex-start;
    width: 30%;
}
.nickname{
    font-size: 30px;
    font-weight: 600;
}