body{
  color: #ffffff;
  margin: 0;
  background-color: rgb(49, 180, 247);
}
.wrapper{
  color: #ffffff;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n m";
  grid-gap:10px;
  grid-template-columns:2fr 10fr;

}
.wrapper > div{
  background-color: #45276fd5;
  border-radius: 10px;
}
.header{
  grid-area: h;
}
.navbar{
  grid-area: n;
}
.profile{
  grid-area: m;
}
.messages{
  grid-area: m;
}
.users{
  grid-area: m;
}
